*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.height-min-content{
	height: min-content!important;
}

.font-12{
	font-size: 12px;
	font-weight: bold;
	color: #606060;
}

.banner{
	background: url('2.jpg');
	background-size: cover;
	color: white;
	padding-top: 120px;
	padding-bottom: 130px;
	font-size: 30px;
}
.bannermid{
	background: url('1.jpg');
	background-size: cover;
	color: white;
	padding-top: 50px;
	padding-bottom: 60px;
}
.button-view {
	background-color: #73c9be!important;

}
.section2{
	background-color:#f2f2f2;
}
.section2 p{
	font-size: 12px;
	font-weight: bold;
	color: #777;
}
.section2 h4{
	font-size: 14px;
	font-weight: bold;
	color: #606060;
}
.latest{
	background-color: #f2f2f2;
}
.header{
	font-size: 20px;
	font-weight: bold;
	color: black;
	font-weight: 500;

}

.work{
	background-color: #2f2f2f;
}
.new{
	border-top: 2px dotted silver;

}
.new1{
	border-top: 2px solid silver;

}